################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Scribble Pad/packages
/Scribble Pad/.vs/Scribble Pad
/Scribble Pad/Scirbble.Pad.UI.Demo/bin
/Scribble Pad/Scirbble.Pad.UI.Demo/obj/Debug
