<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>
                    Using the Canvas
                </h4>
            </div>
            <div class="col-6">
                <canvas id="can" width="400" height="400" class="scribble-canvas"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="">Choose Color</div>
                <div class="colourPicker" id="green" onclick="color(this)"></div>
                <div class="colourPicker" id="blue" onclick="color(this)"></div>
                <div class="colourPicker" id="red" onclick="color(this)"></div>
                <div class="colourPicker" id="yellow" onclick="color(this)"></div>
                <div class="colourPicker" id="orange" onclick="color(this)"></div>
                <div class="colourPicker" id="black" onclick="color(this)"></div>
                <div class="colourPicker eraser" id="white" onclick="color(this)"></div>
                <img id="canvasimg">
            </div>
        </div>
        <div>
            <div class="col">
                <input type="button" value="save" id="btn" size="30" onclick="save()" />
                <input type="button" value="clear" id="clr" size="23" onclick="erase()" />
            </div>
        </div>
    </div>




    @RenderBody()


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/scribble-script.js"></script>


</body>
</html>